/* root */

:root {
    --clr-primary-red: #ff7a7a;
    --clr-primary-green: #38cc8c;

    --clr-accent-blue: #6055a5;

    --clr-neutral-dark-blue: #3e3c49;
    --clr-neutral-grayish-blue: #b9b6d3;
    --clr-neutral-white: #ffffff;

    --ff-poppins: 'Poppins', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --fs-heading: 3rem;
    --fs-paragraph: 1rem;
    --fs-small: .9rem;

    --br: .6rem;

    --shadow: 0px 10px 1px rgba(0,0,0,.2);
}


/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

p {
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
}

body {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-white);
    width: minmax(100%, 1440px);
}

.bg-body {
    background: linear-gradient(90deg, var(--clr-primary-red), var(--clr-primary-red)), url(/images/bg-intro-desktop.png);
    background-size: contain;
    background-position: center;
    background-blend-mode: overlay;
}


/* typography */

.title {
    font-size: var(--fs-heading);
    font-weight: var(--fw-700);
    margin-bottom: 2rem;
}

@media (max-width: 50em) {
    :root {
        --fs-heading: 2rem;
    }
}


@media (max-width: 30em) {
    :root {
        --fs-heading: 1.5rem;
    }
}
/* general layout */

.wrapper {
    max-width: 80%;
    margin-inline: auto;
    display: grid;
    place-items: center;
    height: 100dvh;
}

.signup-form {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.signup-form > * {
    flex-basis: 100%;
}

.trial {
    font-size: var(--fs-small);
    text-align: center;
    padding: 1rem;
    border-radius: var(--br);
    box-shadow: var(--shadow);
    background: var(--clr-accent-blue);
}

.trial span {
    font-weight: var(--fw-600);
}

.message {
    font-size: 12px;
    font-style: italic;
    color: var(--clr-primary-red);
    position: absolute;
    right: 0;
    bottom: -1.4rem;
}

.terms {
    text-align: center;
    font-size: 11px;
    color: var(--clr-neutral-grayish-blue);
    margin-top: 1rem;
}

.terms span {
    color: var(--clr-primary-red);
    font-weight: var(--fw-600);
}

/* form styles */

form {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: var(--br);
    box-shadow: var(--shadow);
    background: var(--clr-neutral-white);
}

form > *:nth-child(-n + 5) {
    margin-top: 1.5rem;
}

form > *:first-child {
    margin-top: 0;
}

.input-field {
    position: relative;
}

.input-field input {
    --br: .3rem;

    width: 100%;
    padding: .8rem 1.5rem;
    border: 2px solid #ddd9d9;
    border-radius: var(--br);
}

.input-field input:focus-visible {
    outline: 2px solid var(--clr-primary-green);
}

.input-field input::placeholder {
    font-size: var(--fs-small);
    font-weight: var(--fw-500);
}

.input-field .error-border {
    border-color: var(--clr-primary-red);
}

.error-icon {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.submit-btn {
    width: 100%;
    display: inline-block;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: var(--fw-600);
    letter-spacing: 1px;
    color: var(--clr-neutral-white);
    border: none;
    border-radius: .2rem;
    background: var(--clr-primary-green);
    cursor: pointer;
}

.submit-btn:focus-visible {
    outline: 2px solid var(--clr-neutral-dark-blue);
}

.submit-btn:hover {
    background: rgba(56, 204, 140, 0.7);
}

@media (max-width: 50em) {
    .wrapper {
        max-width: 90%;
        height: auto;
        padding: 5rem 0;
    }

    .signup-form {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .title, .content {
        text-align: center;
    }

    footer {
        position: initial;
        text-align: center;
        translate: 0;
    }
}